[expand] .button,[expand-group] .button
{
    width:100%;
    height: 100%;
    display: block;
    text-align: center;
}

.Search [expand-group] .button
{
    text-align: left;
}

.home div[expand] .button
{
    line-height: 35px;
}

[expand] .icon,[expand-group] .icon
{
    width:11px;
    height: 11px;
    background: url(../images/expand.png) no-repeat;
    background-size: 22px 11px;
    display: inline-block;
    margin-left:5px;
}

[expand] .icon_exapnd,[expand-group] .icon
{
    background-position: 0px 0px;
}

[expand] .icon_rollback,[expand-group] .icon_rollback
{
    background-position: -11px 0px;
}

[expand-group]
{
    height: 59px;
    font-size: 15px;
    border-bottom: 1px solid #d1d1d1;
}

[expand]
{
    line-height: 35px;
    height: 35px;
    font-size: 15px;
    border-bottom: 1px solid #d1d1d1;
}